@page "/message"
@model TinyExchange.RazorPages.Pages.Shared.Message

@{
    Layout = "_Layout";
}


<div>
    <h2 class="h2 text-center">
        Info
    </h2>
    
    <h4 class="h4 text-center">
        @Model.MessageText
    </h4>
    
    <div class="justify-content-center">
        <a href="@Model.BackUrl" class="btn btn-primary">Go Back</a>
    </div>
</div>