@page "/kyc-request"
@model TinyExchange.RazorPages.Pages.AuthPages.KycRequest


<div class="modal fade" id="kycModal" tabindex="-1" aria-labelledby="kycModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered small-padding">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kycModalLabel">Create KYC Request</h5>
            </div>
            <form method="post">
                <label class="form-label">Name</label>
                <input type="text" name="name" class="form-text form-control" required/>
                <label class="form-label">Last Name</label>
                <input type="text" name="lastname" class="form-text form-control" required/>
                <label class="form-label">Pasport Number</label>
                <input type="text" name="PassportNumber" class="form-text form-control" required/>
                <label class="form-label">Adress</label>
                <input type="text" name="Address" class="form-text form-control" required/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send Request</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="text-body">
            <h4 class="h4 text-black text-center">
                @Model.Message
            </h4>    
        </div>
    } 
    
    @if (Model.RequestIsNeeded)
    {
        <div class="text-body">
            @if (Model.RequesterUser!.KycRequest is { KycState: KycState.Rejected })
            {
                <h4 class="h4 text-center text-black">Re-send KYC verification Info</h4>
            }
            else
            {
                <h4 class="h4 text-center text-black">Send KYC verification Info</h4>
            }
        </div>
            <div class="text-center justify-content-center">
            <button type="button" data-toggle="modal" data-target="#kycModal" class="btn btn-primary">Create Request</button>
        </div>
    }
</div>
