@page
@model TinyExchange.RazorPages.Pages.ProfilePages.KycManagerProfile

<link rel="stylesheet" asp-href-include="/css/profile.css"/>

@{
    if (Model.UserForView == null)
        throw new ArgumentNullException(nameof(Model.UserForView));
}

<div class="justify-content-center">
    <div>
        <h3 class="text-center">Profile info:</h3>
    </div>
    <div class="justify-content-center">
        <table class="table-bordered table-info text-center">
            <tr><td>First Name:</td><td>@Model.UserForView.FirstName</td></tr>
            <tr><td>Last Name:</td><td>@Model.UserForView.LastName</td></tr>
            <tr><td>Email:</td><td>@Model.UserForView.Email</td></tr>
            <tr><td>Registed At:</td><td>@Model.UserForView.RegisteredAt.ToString("f")</td></tr>
        </table>
    </div>
    @if (Model.SelfView)
    {
        <div>
            <div><a asp-page="../AuthPages/KycVerificationList" class="btn btn-secondary">View KYC Requests</a></div>
            <div><a asp-page="../UserPages/UserList" class="btn btn-secondary">List Users</a></div>
        </div>
    }
    else
    {
        @await Html.PartialAsync($"RoleForeignActions/KycManagerActions/{Model.UserForView.Role}Actions", Model)
        
        <div>
            <a asp-page="../UserPages/UserList" class="btn btn-secondary">Go Back to User List</a>
        </div>
    }
    <div>
        <a asp-page="../AuthPages/Login" class="btn btn-danger">Log Out</a>
    </div>
</div>
